/* B2 */
#B2 {
  background-color: rgba(46, 33, 0, 1);
  width: 100vw;
  height: 380px;
}
.contentB2 {
  width: 1170px;
  height: 188px;
  display: flex;
  justify-self: center;
  justify-content: space-between;
  padding-top: 96px;
}
.id {
  clip-path: circle();
  width: 72px;
  height: 72px;
  object-fit: cover;
}
.left-B2 h1 {
  color: rgba(247, 247, 247, 1);
  font-size: 2.4rem;
  line-height: 3.4rem;
  margin: 18px auto 4px auto;
}
.left-B2 p {
  color: rgba(191, 188, 178, 1);
  font-size: 1.4rem;
  line-height: 2.6rem;
  margin-bottom: 28px;
}
.right-B2 {
  width: 770px;
}
.right-B2 p {
  max-width: 740px;
  justify-self: end;
  color: rgba(255, 255, 255, 1);
  font-size: 2.6rem;
  line-height: 4rem;
  font-style: italic;
}