/* B4 */
#B4{
    width: 100vw;
    height: 440px;
}
.contentB4{
    width: 1170px;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    padding-bottom: 200px;
}
.contentB4 img{
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}
.left-B4{
    width: 570px;
    height: 298px;
    align-self: center;
}
.left-B4 p{
    margin: 16px auto 32px auto;
}